# Ignore node_modules directory
node_modules/

# Ignore built files or output directories
build/
dist/

# Ignore specific files
*.config.js
*.config.ts
*.json
*.md

# Ignore files in specific directories
public/
coverage/